import './index.scss'
interface I{{pascalCase name}}Container {}

const {{pascalCase name}}Container: React.FC<I{{pascalCase name}}Container> = () => {
  
  return (
    <div className="c-{{camelCase name}}">

    </div>
  );
};

export default {{pascalCase name}}Container;